# API Base URL (e.g. http://localhost:8000/api or https://school.genify.live/api/v1)
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

# Frontend Application URL (e.g. http://localhost:3000)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Node Environment (development | production)
NODE_ENV="development"

# GlitchTip / Sentry
NEXT_PUBLIC_SENTRY_DSN="https://07d91d2a29ff4dfc8b12d5e59891c72c@glitchtip-p04osokcwgw0c4so0gkcg44g.genify.live/3"
NEXT_PUBLIC_ENABLE_GLITCHTIP="true"
NEXT_PUBLIC_LOG_API_ERRORS_TO_GLITCHTIP="true"
